.hitejinro_content{ width:100%; min-width:1080px; max-width:1980px; height:auto; padding-top:55px;}

.hitejinro_factory{ width:100%; height:auto; margin:0 auto;}
.hitejinro_factory h2 {width:100%; height:auto; padding-top:50px; font-size:55px; font-weight:200; text-align:center;}
.hitejinro_factory h3 {width:100%; height:auto; font-weight:200; text-align:center;}

.factory { overflow:hidden; width:100%; height:auto; padding-top:100px; padding-bottom:80px;}
.factory_branch {width:100%; height:300px; background: url(../images/bg_factory_introduce0.jpg) repeat center center;}
.factory_branch p {width:1080px; height:auto; margin:0 auto; text-align:center;}
.factory_branch_name {padding-top:85px;}
.factory_branch_name a {display:inline-block; padding:16px 18px; color:#fff; font-size:20px; font-weight:200;}
.factory_branch_name .branch_name0 {color:#0096ff;}
.factory_branch_name a:hover,.factory_branch_name:focus{color:#0096ff;}
.factory_branch_name span {display:inline-block; height:28px; color:#898989; vertical-align:middle; }
.factory_application a {display:inline-block; padding:12px 22px;}
.factory_apply {background-color:#fff; margin-right:10px;}
.factory_check {background-color:#0096ff;}
.factory_apply:hover, .factory_apply:focus,
.factory_check:hover, .factory_check:focus{color:#232323; text-decoration:underline;}

.factory_introduce {overflow:hidden; width:1080px; height:auto; margin:0 auto;}
.factory_introduce h3 {width:100%; padding:45px 0 25px; font-size:21px; text-align:left;}
.factory_introduce_txt {overflow:hidden; width:100%; height:490px; }
.factory_introduce_txt1, .factory_introduce_txt2, .factory_introduce_txt3, .factory_introduce_txt4, .factory_introduce_txt5 {display:none;}
.factory_introduce_txt p{float:left; height:350px; }
.factory_images {width:60%; }
.factory_detail {width:40%; }
.factory_detail span {display:inline-block; width:100%; }
.factory_detail_title {height:auto; font-size:20px; font-weight:500; }
.factory_detail_info { height:85px; margin:15px 0 28px; color:#676767;}
.factory_notice {height:auto; margin-bottom:15px; color:#565656; font-size:17px;}
.factory_address, .factory_contact {height:auto; margin:5px 0; font-size:19px;}
.factory_address_detail, .factory_contact_detail {height:auto; color:#454545;}
.factory_address_detail b, .factory_contact_detail b{display:inline-block; width:65px; font-weight:300;}

.factory_introduce_img {overflow:hidden; width:100%; height:auto; padding-top:55px;}
.factory_introduce_img1, .factory_introduce_img2, .factory_introduce_img3, .factory_introduce_img4, .factory_introduce_img5 {display:none;}
.factory_introduce_img_menu {overflow:hidden; width:100%; height:auto;}
.factory_introduce_img_menu ul {float:left; width:50%; height:60px; }
.factory_introduce_img_menu li{ display:inline-block;}
.factory_introduce_img_menu li a{display:inline-block; width:100%; height:100%;}
.img_menu li {width:110px; height:50px; line-height:50px; text-align:center; border:1px solid #232323; box-sizing:border-box;}
.img_menu li:nth-of-type(2){border-left:none; border-right:none;}
.img_menu li.img_other_menu{border-left:none; border-right:1px solid #232323;}
.img_menu li a{color:#232323; background-color:#fff;}
.img_menu li a.img_menu0{color:#fff; background-color:#232323;}
.img_menu li a:hover, .img_menu li a:focus {color:#fff; background-color:#232323;}
.img_ui {text-align:right;}
.img_ui li{width:52px; height:auto; font-size:30px; text-align:center; border:1px solid #232323; box-sizing:border-box;}
.img_ui li a{padding:0 0 5px 0px; background-color:#232323; color:#fff;}
.img_ui li a:not(:root:root){padding:5px 0 0 0px;}
.img_ui li a:hover, .img_ui li a:focus{color:#232323; background-color:#fff;}

.factory_introduce_gallery {overflow:hidden; width:2160px; height:500px;}
.factory_introduce_gallery ul {float:left; width:2160px; height:500px;}
.factory_introduce_gallery ul li {float:left; position:relative; width:1080px; height:500px; background-color:#fff;}
.factory_introduce_gallery li a{display:inline-block; position:absolute;}
.factory_introduce_gallery a img {width:100%; height:100%;}
.introduce_img1, .introduce_img2 {display:none;}
.intro_img0_0 {left:0; top:0; width:507px; height:500px;}
.intro_img0_1 {left:510px; top:0;width:570px; height:247px;}
.intro_img0_2 {left:510px; bottom:0; width:570px; height:250px;}
.intro_img0_3 {left:0; top:0; width:300px; height:500px;}
.intro_img0_4 {left:303px; top:0; width:475px; height:250px;}
.intro_img0_5 {right:0px; top:0; width:299px; height:250px;}
.intro_img0_6 {left:303px; bottom:0; width:299px; height:247px;}
.intro_img0_7 {right:0; bottom:0; width:475px; height:247px;}

.intro_img1_0 {left:0; top:0; width:500px; height:500px;}
.intro_img1_1 {right:0; top:0; width:577px; height:500px;}
.intro_img1_2 {left:0; top:0; width:477px; height:500px;}
.intro_img1_3 {right:0; top:0; width:600px; height:500px;}

.intro_img2_0,.intro_img2_2  {left:0; top:0; width:477px; height:500px;}
.intro_img2_1, .intro_img2_3 {right:0; top:0; width:600px; height:500px;}

/* 전주공장 갤러리 */
.intro_other_img0_3 {left:0; top:0; width:497px; height:500px; }
.intro_other_img0_4 {left:500px; top:0; width:600px; height:500px;}

.factory_fix {overflow:hidden; width:100%; height:auto;}
.factory_process {width:100%; height:auto; margin-bottom:30px;}
.factory_process_soju {display:none;}
.factory_process p {width:100%; height:147px; }
.factory_process p img {width:100%; height:100%;}

.factory_location {width:100%; height:auto;}
.map_API {width:100%; height:380px;}
#map {width:100%; height:100%;}
