@charset "utf-8";

 /* 하이트 진로 상품 안내 */
 .hitejinro_container_wrap {overflow-x:hidden; width:100%; margin:0 auto; padding-top:55px;}
 .hitejinro_product {width:100%; }
 .product_layout {width:100%; height:auto; margin:0 auto; }
 .product_layout h2 {width:100%; padding-top:18px; padding-bottom:10px; font-size:27px; text-indent:7%;
                    color:#efefef; background-color:#143e8d; }
.product_scroll { position:absolute; left:50%; top: 70px; width:300px; margin-left:-135px; font-size:17px; color:#efefef;
                    text-indent:15px; animation: scroll 0.6s infinite alternate .3s; }
    @keyframes scroll{
        from{ top: 70px; }
        to { top: 85px; }
    }
/* 공통의 더 알아보기 */
.product_view_more {display:inline-block; width:100%; padding-top:50px; text-align:center; font-size:19px;
                    opacity:0; transition: all 1s;}
.view_more_btn { display:inline-block; width:20px; height:20px; vertical-align:middle}
.view_more_btn img{ width:100%; height:100%;}
.view_more_txt { display:inline-block; width:auto; height:27px; vertical-align:middle }

/* 하이트진로 - 맥주 - 하이트 엑스트라 골드 */
.product_beer{max-width:1280px; width:100%; height:1620px; margin:0 auto; }
.product_beer_img {width:100%; height:auto; padding:40px 0; text-align:center;}
.product_beer_img_hite{display:inline-block; width:auto; height:auto; text-align:center;}
.product_beer_img_hite img{width:270px; height:516px; transform:scale(0.9); animation: beer_effect .7s ease-in .8s 1;}
    @keyframes beer_effect {
        0%,100% {transform:scale(0.9)}
        80% {transform:scale(1.1)}
    }
.product_beer_txt {width:100%; height:auto; padding-bottom:55px; text-align:center;}
a.product_beer_txt_hite {font-size:70px; font-family: 'PT Serif', serif; font-weight:900; font-style: italic; color:#284083; text-shadow: 5px 0px #C4DEFF; letter-spacing:3px;}
.product_beer_txt_hite_ani1 {opacity:.4; animation: hite_ani 60s ease-in-out 1.8s infinite alternate;}
.product_beer_txt_hite_ani2 {opacity:.2; animation: hite_ani 60s ease-in-out 2.4s infinite alternate;}
.product_beer_txt_hite_ani3 {opacity:.1; animation: hite_ani 60s ease-in-out 2.8s infinite alternate;;}
    @keyframes hite_ani {
        0%,100%{opacity:1}
        20%{opacity:0.8}
    }
/* ie9이하 일 때 글자 투명도가 100%로 보일 수 있도록 설정 */
.product_beer_txt_hite_ani1, .product_beer_txt_hite_ani2, .product_beer_txt_hite_ani3 {opacity:1\9;}


/* 하이트진로 - 맥주 - 여러 종류의 맥주 */
.product_other_beer {width:98%; height:710px; margin:30px 1% 0;}
.otherbeer {display:block; float:left; position:relative; width:25%; height:600px; padding-bottom:120px; }
.otherbeer img{ position:absolute; bottom:150px;; width:50%; }
.otherbeer_img1 { left:0;}
.otherbeer_img2 { right:0; }
.otherbeer b {position:absolute; left:0; bottom:0; display:block; width:100%; text-align:center; font-size:24px;
                opacity:0; transition: all 0.7s; }

/* 하이트진로 - 소주 */
.product_soju {max-width:1280px; width:100%; height:800px; margin:0 auto; }
.product_scale { position:relative; width:100%; height:500px; padding-top:100px; margin-bottom: 75px; text-align:center; }
.product_scale a {display:block; position:absolute; bottom:0px; width:50px; transition: width 0.6s;}
.product_scale a img{ width:100%; }
.soju1 {left:185px; }
.soju2 {left:335px; }
.soju3 {left:485px; }
.soju4 {left:635px; }
.soju5 {left:835px; }
.soju6 {left:985px; }
.product_scale a img {padding-bottom:20px;}
.product_scale a b {display:block; width:100%; height:70px; font-size:24px; line-height:27px; opacity:0; transition: opacity 3s;}

/* 하이트진로 - 위스키 */
.product_whiskey { max-width:1980px; min-width:1280px; width:100%; height:850px; margin:0 auto; }
.product_move { overflow:hidden; position:relative; width:100%; height:750px;}
.product_move a{ display:inline-block; text-align:center;}
.whiskey1 {position:absolute; left:-120px; top:90px; width:220px; height:605px; transition: left 0.4s;}
.whiskey2 {position:absolute; right:-320px; top:172px; width:735px; height:530px; transition: right 0.4s;}
.product_move a b {display:inline-block; padding-top:30px; font-size: 24px; }

/* 하이트진로 - 기타주류 */
.product_drink { max-width:1280px; width:100%; height:1050px; margin:0 auto; }
.product_transform1 {height:400px; margin-top:70px;}
.product_transform2 {height:480px; margin-top:10px; margin-bottom:40px;}
.product_transform1, .product_transform2 { position:relative; width:100%; text-align :center;}
.product_transform1 a, .product_transform2 a {display:inline-block; }
/* 기타주류 - 첫번째 애니메이션 */
.product_transform1 a {position:absolute; left:240px; top:30px; background-color:#fff;}
.drink {width:140px; height:340px; }
.drink1 {z-index:40;}
.drink2 {z-index:30; transition: left 0.2s;}
.drink3 {z-index:20; transition: left 0.3s;}
.drink4 {z-index:10; transition: left 0.4s;}
.drink img {width:100%; }
/* 기타주류 - 두번째 애니메이션 */
.product_transform2 a {position:absolute; right:120px; top:30px; height:430px; background-color:#fff; }
.drink5 {right:120px; z-index:40; width:270px; height:350px; }
.drink6 {z-index:30; width:265px; height:350px; transition: right 0.3s;}
.drink7 {z-index:20; width:130px; height: 350px; transition: right 0.5s;}
.drink8 {z-index:10; width:100px; height:350px; transition: right 0.7s;}
.drinks img{width:100%;}

.product_drink a b{display:block; padding-top:20px; font-size:22px; line-height:24px; }

/* 하이트진로 - 인터내셔널 */
.product_international { max-width:1280px; width:100%; height:815px; margin:0 auto; }
.product_stair {overflow:hidden; position:relative; width:100%; height:700px; }
.product_stair a{display:inline-block; position:absolute; text-align:center; }
.product_detail1 {left: 100px; bottom:0px; width:308px; height:455px; transition: bottom 0.5s;}
.product_detail1 img{width:48%;}
.product_detail2 {left: 480px; bottom:-200px; width:335px; height:550px; transition: bottom 0.9s;}
.product_detail3 {left: 900px; bottom:-450px; width:300px; height:545px; transition: bottom 1.3s;}
.product_detail3 img{width:48%;}
.product_stair a b{display:block; width:100%; margin-top:20px; font-size:22px;}

/* 하이트 진로 소식 부분 */
.hitejinro_news{overflow:hidden; max-width:1280px; width:96%; margin:0 auto; clear:both;}
.hitejinro_news h2{width:100%; padding:30px 0; margin-top:15px; border-top:1px solid #787878; text-align:center;}

.hitejinro_community_layout{ overflow:hidden; width:100%;}
.hitejinro_community_info {display:block; float:left; width:32%; margin-right:2%; cursor:pointer;}
.hitejinro_community_info:last-child{margin-right:0;}
.hitejinro_community_img {width:100%; margin:0 auto;}
.hitejinro_community_info img {width:100%;}

.hitejinro_community_txt {width:100%;}
.hitejinro_community_txt span {display:block; width:100%;}
.community_txt_title{ overflow:hidden; white-space:nowrap; text-overflow:ellipsis; font-size:16px; font-weight:700;}
.community_txt_days { color:#565656; }

/* 하이트진로 공장견학 */
.hitejinro_factory_wrap {width:100%; height:300px; margin-top:30px; background: url(../images/bg_factory.jpg) repeat center center;}
.hitejinro_factory_experience{ width:980px; height:100%; margin:0 auto; }
.hitejinro_factory {width:100%; padding-top:110px; text-align:center;}
.hitejinro_factory_part1, .hitejinro_factory_part2 {display:inline-block}
.hitejinro_factory a{ font-size:17px; color:#cfcfcf;}
.hitejinro_factory a.menu0 {color:#0096ff;}
.hitejinro_factory span{ display:inline-block; padding:0 10px; color:#4DA4FF;}
.factory_spading {display:none;}

.hitejinro_factory_application{ width:100%; padding-top:20px; text-align:center; }
.hitejinro_factory_application a {display:inline-block; width:200px; height:40px; background-color:#fff; font-size:16px; line-height:38px;}
.hitejinro_factory_application a:first-child{background-color:#0096ff; color:#fff;}


/* 반응형 */
@media all and (min-width:1025px) and (max-width: 1280px ){

    /* 하이트진로 - 소주 */
    .product_soju {max-width:1025px;}
    .soju1 {left:90px; }
    .soju2 {left:235px; }
    .soju3 {left:375px; }
    .soju4 {left:510px; }
    .soju5 {left:700px; }
    .soju6 {left:840px; }

    /* 하이트진로 - 위스키 - 킹던 사이즈 변화 */
    .product_whiskey { max-width: 1280px; min-width:1025px; }
    .whiskey2 {top:255px; width:600px; height:440px;}
    .whiskey2 img {width:100%; }

    /* 하이트진로 - 기타주류 */
    .product_drink { max-width:1025px; }
    /* 기타주류 - 첫번째 애니메이션 */
    .product_transform1 a {left:140px;}
    /* 기타주류 - 두번째 애니메이션 */
    .product_transform2 a {right:80px; }
    .drink5 {right:80px;}

    /* 하이트진로 - 인터내셔널 */
    .product_international { max-width:1025px; }
    .product_detail1 {left: 70px; width:270px; }
    .product_detail1 img{width:49%;}
    .product_detail2 {left: 386px; width:270px; height:495px; }
    .product_detail2 img {width:100%;}
    .product_detail3 {left: 700px; width:250px; }
    .product_detail3 img {width:49%;}

}
@media all and (min-width:941px) and (max-width:1024px){

    /* 하이트진로 - 소주 */
    .product_soju {max-width:941px; }
    .soju1 {left:50px; }
    .soju2 {left:195px; }
    .soju3 {left:335px; }
    .soju4 {left:470px; }
    .soju5 {left:660px; }
    .soju6 {left:800px; }

    /* 하이트진로 - 위스키 - 킹던 사이즈 변화 */
    .product_whiskey { max-width:1024px; min-width:941px; }
    .whiskey2 {top:255px; width:600px; height:440px; }
    .whiskey2 img {width:100%; }

    /* 하이트진로 - 기타주류 */
    .product_drink { max-width:941px; }
    /* 기타주류 - 첫번째 애니메이션 */
    .product_transform1 a {left:90px;}
    /* 기타주류 - 두번째 애니메이션 */
    .product_transform2 a {right:35px; }
    .drink5 {right:35px;}

    /* 하이트진로 - 인터내셔널 */
    .product_international { max-width:941px; }
    .product_detail1 {left: 40px; width:270px; }
    .product_detail2 {left: 360px; width:270px; height:495px; }
    .product_detail2 img {width:100%;}
    .product_detail3 {left: 670px; width:250px; }

	/* 하이트 소식 부분 */
	.hitejinro_news{width:930px; }

	/* 하이트진로 공장견학 */
	.hitejinro_factory_experience{ width:930px;}
}
@media all and (min-width:769px) and (max-width:940px){

    /* 하이트진로 - 맥주 */
    .product_beer{max-width:769px; height:1500px; }
    /* 하이트진로 - 맥주 - 여러 종류의 맥주 */
    .product_other_beer {height:600px}
    .otherbeer {height:500px; padding-bottom:0px;}
 
    /* 하이트진로 - 소주 */
    .product_soju {max-width:769px; height:670px; }
    .product_scale {height:400px; }
    .soju1 {left:45px; }
    .soju2 {left:155px; }
    .soju3 {left:265px; }
    .soju4 {left:375px; }
    .soju5 {left:530px; }
    .soju6 {left:640px; }
    .product_scale a b {font-size:22px; }

    /* 하이트진로 - 위스키 - 킹던 사이즈 변화 */
    .product_whiskey { max-width:940px; min-width:769px; height:735px; }
    .product_move { height:640px; }
    .whiskey1 {left:-85px; top:90px; width:170px; height:480px; }
    .whiskey1 img {width:100%;}
    .whiskey2 {right:-265px; top:175px; width:530px; height:395px; }
    .whiskey2 img {width:100%; }

    /* 하이트진로 - 기타주류 */
    .product_drink { max-width:769px; height:900px; }
    .product_transform1 {height:380px; margin-top:40px;}
    .product_transform2 {height:400px; margin-top:10px; margin-bottom:15px;}

    /* 기타주류 - 첫번째 애니메이션 */
    .product_transform1 a {left:65px;}
    .drink {width:120px; height:310px; }
    /* 기타주류 - 두번째 애니메이션 */
    .product_transform2 a {right:45px; height:320px; }
    .drink5 {width:200px; }
    .drink6 {width:200px;}
    .drink7 {width:99px; }
    .drink8 {width:75px;}

    /* 하이트진로 - 인터내셔널 */
    .product_international { max-width:769px; height:670px; }
    .product_stair {height:570px;}
    .product_detail1 {left: 45px; width:200px; height:335px; }
    .product_detail2 {left: 285px; width:200px; height:395px; }
    .product_detail2 img {width:100%;}
    .product_detail3 {left: 525px; width:200px; height:430px; }

	/* 하이트진로 공장견학 */
	.hitejinro_factory_experience{ width:750px;}
}
@media all and (min-width:481px) and (max-width:768px){
    
    /* 하이트진로 - 맥주 */
    .product_beer{max-width:768px; min-width:481px; height:1340px; }
    a.product_beer_txt_hite {font-size:50px}
    /* 하이트진로 - 맥주 - 여러 종류의 맥주 */
    .product_other_beer { height:480px}
    .otherbeer {height:480px; padding-bottom:0px;}
 
    /* 하이트진로 - 소주 */
    .product_soju {max-width:481px; height:875px; }
    .product_scale { height:650px; margin-top:70px; margin-bottom:35px;}
    .soju1 {left:70px; top:0;}
    .soju2 {left:205px; top:0;}
    .soju3 {left:340px; top:0;}
    .soju4 {left:20px; }
    .soju5 {left:205px; }
    .soju6 {left:340px; }
    .product_scale a b {font-size:22px; }

    /* 하이트진로 - 위스키 - 킹던 사이즈 변화 */
    .product_whiskey { max-width:768px; min-width:481px; height:580px; }
    .product_move {height:490px; }
    .whiskey1 {left:-55px; top:92px; width:110px; height:350px; }
    .whiskey1 img {width:100%;}
    .whiskey2 {right:-115px; top:155px; width:330px; height:280px;}
    .whiskey2 img {width:100%; }

    /* 하이트진로 - 기타주류 */
    .product_drink {max-width:481px; height:820px; }
    .product_transform1 {height:315px; margin-top:30px; }
    .product_transform2 { height:380px; margin-top:10px; margin-bottom:15px;}

    /* 기타주류 - 첫번째 애니메이션 */
    .product_transform1 a {left:20px; }
    .drink {width:95px; height:260px; }
    /* 기타주류 - 두번째 애니메이션 */
    .product_transform2 a {right:25px; height:310px; }
    .drink5 {width:180px; padding-top:8px;}
    .drink6 {width:180px; }
    .product_transform2 .drink7 {display:none;}
    .product_transform2 .drink8 {display:none;}

    /* 하이트진로 - 인터내셔널 */
    .product_international { max-width:481px; height:840px; }
    .product_stair {height:700px; margin-bottom:35px; }
    .product_detail1 {left: 15px; bottom:0; width:150px; height:260px; }
    .product_detail2 {left: 175px;  bottom:110px; width:150px; height:315px; }
    .product_detail2 img {width:100%;}
    .product_detail3 {left: 320px; bottom: 330px; width:150px; height:325px; }
    .product_stair a b{font-size:19px;}

	/* 하이트 진로 소식 부분 */
	 .hitejinro_news{width:96%; margin:0 2%;}

	.hitejinro_community_layout{ overflow:hidden; width:100%;}
	.hitejinro_community_info {display:block; float:left; width:32%; margin-right:2%; cursor:pointer;}
	.hitejinro_community_info:last-child{margin-right:0;}
	.hitejinro_community_img {width:100%; margin:0 auto; }
	.hitejinro_community_info img {width:100%;}

	.hitejinro_community_txt {width:100%;}
	.community_txt_title{ display: -webkit-box;  overflow: hidden; height:2.4em; line-height: 1.2em; white-space: normal; word-wrap: break-word; -webkit-line-clamp: 2;
    					 -webkit-box-orient: vertical;}

    /* 하이트진로 공장견학 */
	.hitejinro_factory_wrap {max-width:768px; min-width:481px;}
	.hitejinro_factory_experience{ width:300px; }
	.hitejinro_factory {display:block; width:300px; font-size:17px; padding-top:70px; margin:0 auto;}
	/* 아이폰 지역공장 width 값 변화 */
	.hitejinro_factory:not(:root:root) {width:270px;}
	.hitejinro_factory span{ padding:0 7px;}
	.factory_spading{ display:block; }
    .hitejinro_factory span.hitejinro_none {display:none}
    
	.hitejinro_factory_application a:first-child{margin-bottom:10px;}
}

@media all and (min-width:320px) and (max-width:480px){
	
    .product_scroll{margin-left:-100px; }
    /* 하이트진로 - 맥주 */
    .product_beer{max-width:480px; min-width:320px; height:1090px;}
    .product_beer_img {padding:30px 0 15px;}
    .product_beer_img_hite img{width:210px; height:400px; }
    .product_beer_txt {padding-bottom:0px;}
    a.product_beer_txt_hite {font-size:38px}

    /* 하이트진로 - 맥주 - 여러 종류의 맥주 */
    .product_other_beer {height:460px}
    .otherbeer {height:440px; padding-bottom:0px; }
    .otherbeer b{font-size:18px; }

    /* 하이트진로 - 소주 */
    .product_soju {max-width:320px; height:875px; }
    .product_scale { height:650px; margin-top:60px; margin-bottom:35px;}
    .soju1 {left:20px; top:0;}
    .soju2 {left:120px; top:0;}
    .soju3 {left:220px; top:0;}
    .soju4 {left:0px; }
    .soju5 {left:138px; }
    .soju6 {left:225px; }
    .product_scale a b {font-size:18px; }

    /* 하이트진로 - 위스키 - 킹던 사이즈 변화 */
    .product_whiskey { max-width:480px; min-width:320px; height:480px; }
    .product_move {height:390px; }
    .whiskey1 { left:-40px; top:62px; width:85px; height:280px; }
    .whiskey1 img {width:100%;}
    .whiskey2 { right:-115px; top:125px; width:230px; height:220px;}
    .whiskey2 img {width:100%; }
    .product_move a b{font-size:18px; }

    /* 하이트진로 - 기타주류 */
    .product_drink {max-width:320px; height:660px; }
    .product_transform1 {height:270px; margin-top:30px; }
    .product_transform2 {height:290px; margin-top:5px; margin-bottom:15px;}

    /* 기타주류 - 첫번째 애니메이션 */
    .product_transform1 a {left:20px; }
    .drink {width:80px; height:230px; }
    .product_transform1 .drink4 {display:none;}
    /* 기타주류 - 두번째 애니메이션 */
    .product_transform2 a {right:15px; height:240px; }
    .drink5 {width:130px; padding-top:5px;}
    .drink6 {width:130px; }
    .product_transform2 .drink7 {display:none;}
    .product_transform2 .drink8 {display:none;}
    .product_drink a b {font-size:18px; }

    /* 하이트진로 - 인터내셔널 */
    .product_international { max-width:320px; height:660px; }
    .product_stair {height:500px; margin-bottom:35px; }
    .product_detail1 {left: 15px; bottom:0; width:140px; height:260px; }
    .product_detail1 img{width:46%;}
    .product_detail2 {left: 165px;  bottom:130px; width:150px; height:315px; }
    .product_detail2 img {width:100%;}
    .product_detail3 {display:none;}
    .product_stair a b{font-size:18px;}

	/* 하이트 진로 레시피 부분, cf 부분, 소식 부분 */
	.hitejinro_news{ width:96%; margin:0 2%;}

	/* 하이트진로 - CF 부분 */
	.hitejinro_media_layout,.hitejinro_community_layout{ overflow:hidden; width:100%;}
	.hitejinro_media_info, .hitejinro_community_info {display:block; float:left; width:32%; margin-right:2%; cursor:pointer;}
	.hitejinro_media_info:last-child, .hitejinro_community_info:last-child{margin-right:0;}
	.hitejinro_media_img, .hitejinro_community_img {width:100%; margin:0 auto; }
	.hitejinro_media_img img, .hitejinro_community_info img {width:100%;}

	.hitejinro_media_txt, .hitejinro_community_txt {width:100%;}
	.community_txt_title{ display: -webkit-box;  overflow: hidden; height:2.4em; line-height: 1.2em; white-space: normal; word-wrap: break-word; -webkit-line-clamp: 2;
    					 -webkit-box-orient: vertical;}

	/* 하이트진로 공장견학 */
	.hitejinro_factory_wrap { max-width:480px; min-width:320px;}
	.hitejinro_factory_experience{ width:300px; }
	.hitejinro_factory {display:block; width:300px; font-size:17px; padding-top:70px; margin:0 auto;}
	/* 아이폰 지역공장 width 값 변화 */
	.hitejinro_factory:not(:root:root) {width:270px;}
	.hitejinro_factory span{ padding:0 7px;}
	.factory_spading{ display:block; }
    .hitejinro_factory span.hitejinro_none {display:none}
    
	.hitejinro_factory_application a:first-child{margin-bottom:10px;}
	}

