.hitejinro_content{ width:100%; min-width:1080px; height:auto; padding-top:55px;}

.hitejinro_marketing{ width:1080px; height:auto; margin:0 auto;}
.hitejinro_marketing h2 {width:100%; height:auto; padding-top:50px; font-size:55px; font-weight:200; text-align:center;}
.hitejinro_marketing h3 {width:100%; height:auto; font-weight:200; text-align:center;}

.marketing { overflow:hidden; width:100%; height:auto; padding-top:100px; padding-bottom:80px;}
