@charset "utf-8";

/*!
 * 하이트진로
 * http://www.hitejinro.com
 *
 * author: 강송희
 * date: 2017. 10 .09 ~ 2017. 10. 09
 *
 */


.hitejinro_wrap {max-width:5364px; margin:0 auto}
.hitejinro_header_wrap { position:fixed;  z-index:500; background-color:#fff; width:100%; height:55px; border-bottom:1px solid #999; }
.hitejinro_header { max-width:1280px; height:55px; margin:0 auto}

/* 하이트진로 로고  */
.hitejinro_logo {float:left; width:10%; height:100%; text-align:center;}
.hitejinro_logo a { display:inline-block; width:95px; margin-top:9px;}
.hitejinro_logo img { width:100%; }

/* 하이트진로 네비게이션 */
.hitejinro_gnb_wrap {width:auto; height:auto;}
.hitejinro_gnb_btn {display:none;}
.hitejinro_gnb {overflow:hidden; float:left; width:77%; height:100%}
.hitejinro_gnb li{ float:left; width:25%; height:100%; text-align:center; line-height:56px}
.hitejinro_gnb a { padding:18px 10px; font-size: 15px; font-weight:700; text-transform:uppercase;}

/* 하이트진로 gnb 안의 내용물 */
.hitejinro_gnb_inner{ display:none; position:fixed; left:0; top:55px; right:0; z-index:900; background-color:#f5f5f5;text-align:center; }
.hitejinro_gnb ol { width:980px; height:55px; margin:0 auto; }
.hitejinro_gnb ol li{ display:inline-block; }

/* 모바일 네비게이션 일 때 사용하는 class*/
ul.hitejinro_gnb li div.inner {display:block; }

/* 하이트진로 company */
.gnb_company li{ width:auto; padding-right:34px; text-align:left;}

/* 하이트진로 social & media */
.gnb_social_media li{ width:20%;}
.gnb_social_media li:first-child {margin-left:25%}
.gnb_social_media li:last-child {margin-right:35%;}

/* 하이트진로 csr & joy */
.gnb_csr_joy li { width:20%;}
.gnb_csr_joy li:first-child {margin-left:30.5%}
.gnb_csr_joy li:last-child {margin-right:9.5%;}

/* 하이트로 customer center */
.gnb_customer_center li{ width:14%; }
.gnb_customer_center li:first-child {margin-left:52%}
.gnb_customer_center li:last-child {margin-right:6%;}

/* 하이트진로 로그인 */
.hitejinro_login { float:left; width:7%; height:100%; }
.hitejinro_login h2 { font-size:15px; line-height:53px; color:#888; cursor:pointer;}
.login_icon {display:inline-block; width:30px; height:30px; background: url("../images/user.png") no-repeat center center; vertical-align:middle;}

/* 로그인 모달창 */
.hitejinro_login_modal { display:none; position:fixed; left:50%; top:50%; z-index:3000; width:400px; height:460px; margin-top:-230px; margin-left:-200px;
						background-color:#fff; border-radius:5px; border:1px solid #ccc; }
.hitejinro_login_close_btn { position:absolute; right:0; top:0; width:35px; height:35px; background: url("../images/cancel.png") no-repeat center center; cursor:pointer;}
.hitejinro_login_title { width:100%; margin-top:15px; font-size:30px; color:#012C81; font-weight:700; text-align:center;}
.hitejinro_login_txt { width:86%; margin:10px 7%; font-size:13px; text-align:center; }

.hitejinro_login_area { overflow:hidden; position:relative; width:86%; height:83px; margin:0 7%;}
.hitejinro_login_area input { float:left; width: 250px; height:40px; text-indent:10px;}
#userid { border:1px solid #ccc; }
#userpassword { border-left: 1px solid #ccc; border-right:1px solid #ccc; border-bottom:1px solid #ccc; }
.hitejinro_login_area button { display:inline-block; position:absolute; right:0; top:0; width:92px; height:92px; margin-top:-4px; background-color:#012C81; font-size:15px; color:#efefef; font-weight:700; vertical-align:top;}
.hitejinro_login_area button:hover, .hitejinro_login_area button:focus { background-color:#4DA4FF; }

.hitejinro_login_service_area { width:86%; margin:0 7%; }
.hitejinro_login_service, .hitejinro_login_find {float:left;width:100%; margin:10px 1% 0; font-size:13px;}
.hitejinro_login_service_area span {display:block; width:100%;}
.login_service_top { font-size: 14px; margin-bottom:5px; font-weight:700;}
.login_service_middle { font-size:13px; color:#565656; }
.hitejinro_login_service_area a {display:block; width:55%; height:35px; margin:10px auto 0; background-color:#323232; font-size:13px; text-align:center; line-height:32px; color:#efefef; }
.hitejinro_login_service_area a:hover, .hitejinro_login_service_area a:focus { background-color:#767676; }

/* 하이트진로 검색 */
.hitejinro_searchbox { float:left; position:relative; width:5%; height:100%; padding-left:1%;}
.hitejinro_searchbox label { display:inline-block;  width:28px; height:28px; margin-top:11px; background:url("../images/search.png") no-repeat center center; text-indent:-9999px; cursor:pointer;}
.hitejinro_search_area { display:none; position:absolute; right:30px; top:12px; width:330px; background-color:#fff;}
.hitejinro_search_area input { width:250px; height:27px; border:1px solid #232323; vertical-align:bottom; text-indent:10px;}
.hitejinro_search_area button { width:40px; height:29px; background-color:#232323; color:#efefef;}
.hitejinro_search_close { display:inline-block; width:30px; height:29px; background: url("../images/close.png") no-repeat center center; vertical-align:bottom; cursor:pointer;}

/* 하이트진로 footer - 회사정보 */
.hitejinro_footer_wrap { overflow:hidden; width:100%; margin:0 auto; background-color:#565656;}
.hitejinro_footer { width:980px; margin:0 auto; background-color:#565656;}
.policy, .footer_address_tel, .footer_copyright{width:100%; padding-top:10px; text-align:center;}
.policy a {color:#cfcfcf;}
.policy a:hover, .policy a:focus {color:#0096ff;}
.hitejinro_footer span {color:#4DA4FF;}
.footer_address_tel { color:#efefef; }
.footer_copyright {color:#fff;}

/* 반응형 */
@media all and (min-width:941px) and (max-width:1024px){
	/* header - 로그인 부분과 검색부분 크기 변화 */
	.hitejinro_login {width:8.5%;}
	.hitejinro_searchbox {width:4.5%; padding-left:0;}

	/* 검색창 위치변화*/
	.hitejinro_search_area { right:10px;}

	/* 하이트진로 footer - 회사정보 */
	.hitejinro_footer_wrap {max-width:1024px; }
	.hitejinro_footer { width:100%; margin:0 auto; }
	.policy, .footer_address_tel, .footer_copyright{ width:94%; margin:0 3%; }
	.policy, .footer_address_tel {text-align:left;}
}
@media all and (min-width:769px) and (max-width:940px){
	/* 하이트 진로 로고 가운데 정렬 */
	.hitejinro_logo { float:none; position:absolute; left:50%; top:0; margin-left:-47px; width:95px;}

	/* 하이트진로 모바일 네비게이션 */
	.hitejinro_gnb_btn { display:block; position:relative; left:15px; top:16px; width:30px; height:30px; cursor:pointer; }
	.hitejinro_gnb_btn span {display:block; position:absolute;left:0; width:24px; height:3px; margin:0 auto; background-color:#232323; transition:all 0.2s;}
	.hitejinro_gnb_btn span:first-child{ top:0; }
	.hitejinro_gnb_btn span:nth-of-type(2){ top:10px; }
	.hitejinro_gnb_btn span:last-child{ top:20px; }

	.hitejinro_gnb { overflow-y:auto; position:fixed; left:-240px; top:55px; bottom:0; width:240px; height:auto; background-color:#fff; border-top:1px solid #eee;
							transition:all 0.3s;}
	.hitejinro_gnb li{ float:none; width:100%; height:auto; text-align:left; line-height:56px}
	.hitejinro_gnb a {display:block; width:100%; padding:0; font-size:17px; font-weight:700; border-bottom:1px solid #e0e0e0; text-indent:15px; text-transform:uppercase;}

	.hitejinro_gnb_inner {display:none; position:static; background-color:#efefef; text-align:left;}
	.hitejinro_gnb_inner ol {width:100%; height:auto;}
	.hitejinro_gnb_inner a{ display:block; width:100%; font-size:14px; text-indent:20px;}
		.gnb_social_media li:first-child {margin-left:0%}
		.gnb_csr_joy li:first-child {margin-left:0%}
		.gnb_customer_center li:first-child {margin-left:0%}

	/* 하이트 진로 로그인 위치 재배치 및 로고아이콘 삭제 */
	.hitejinro_login {position:absolute;right:50px;top:0;width:78px;}
	.hitejinro_login h2{font-size:16px;}

	/* 하이트진로 검색 */
	.hitejinro_searchbox {position:absolute; right:10px;top:0; width:30px; padding-left:0;}
	.hitejinro_search_area {top:9px; right:-5px; width:350px;}
	.hitejinro_search_area input { height:35px; }
	.hitejinro_search_area button { height:37px; }
	.hitejinro_search_close { padding:0 5px; vertical-align:middle;}
	#hitejinro_search{width:260px;}

	/* 하이트진로 footer - 회사정보 */
	.hitejinro_footer_wrap {max-width:940px; }
	.hitejinro_footer { width:100%; margin:0 auto; }
	.policy, .footer_address_tel, .footer_copyright{ width:94%; margin:0 3%; }
	.policy, .footer_address_tel {text-align:left;}
}
@media all and (min-width:481px) and (max-width:768px){

	/* 하이트 진로 로고 가운데 정렬 */
	.hitejinro_logo { float:none; position:absolute; left:50%; top:0; margin-left:-47px; width:95px;}

	/* 하이트진로 모바일 네비게이션 */
	.hitejinro_gnb_btn { display:block; position:relative; left:15px; top:16px; width:30px; height:30px; cursor:pointer; }
	.hitejinro_gnb_btn span {display:block; position:absolute;left:0; width:24px; height:3px; margin:0 auto; background-color:#232323; transition:all 0.2s;}
	.hitejinro_gnb_btn span:first-child{ top:0; }
	.hitejinro_gnb_btn span:nth-of-type(2){ top:10px; }
	.hitejinro_gnb_btn span:last-child{ top:20px; }

	.hitejinro_gnb { overflow-y:auto; position:fixed; left:-240px; top:55px; bottom:0; width:240px; height:auto; background-color:#fff; border-top:1px solid #eee;
							transition:all 0.3s;}
	.hitejinro_gnb li{ float:none; width:100%; height:auto; text-align:left; line-height:56px}
	.hitejinro_gnb a {display:block; width:100%; padding:0; font-size:17px; font-weight:700; border-bottom:1px solid #e0e0e0; text-indent:15px; text-transform:uppercase;}

	.hitejinro_gnb_inner {display:none; position:static; background-color:#efefef; text-align:left;}
	.hitejinro_gnb_inner ol {width:100%; height:auto;}
	.hitejinro_gnb_inner a{ display:block; width:100%; font-size:14px; text-indent:20px;}
		.gnb_social_media li:first-child {margin-left:0%}
		.gnb_csr_joy li:first-child {margin-left:0%}
		.gnb_customer_center li:first-child {margin-left:0%}

	/* 하이트 진로 로그인 위치 재배치 및 로고아이콘 삭제 */
	.hitejinro_login {position:absolute;right:50px;top:0;width:78px;}
	.hitejinro_login h2{font-size:16px;}

	/* 하이트진로 검색 */
	.hitejinro_searchbox {position:absolute; right:10px;top:0; width:30px; padding-left:0;}
	.hitejinro_search_area {top:9px; right:-5px; width:350px;}
	.hitejinro_search_area input { height:35px; }
	.hitejinro_search_area button { height:37px; }
	.hitejinro_search_close { padding:0 5px; vertical-align:middle;}
	#hitejinro_search{width:260px;}

	/* 하이트진로 footer - 회사정보 */
	.hitejinro_footer_wrap {max-width:768px; }
	.hitejinro_footer { width:100%; margin:0 auto; }
	.policy, .footer_address_tel, .footer_copyright{ width:94%; margin:0 3%; }
	.policy, .footer_address_tel {text-align:left;}

}

@media all and (min-width:320px) and (max-width:480px){
	/*.hitejinro_wrap {overflow-x:hidden;}
	/* 하이트 진로 로고 가운데 정렬 */
	.hitejinro_logo { float:none; position:absolute; left:50%; top:0; margin-left:-47px; width:95px;}

	/* 하이트진로 모바일 네비게이션 */
	.hitejinro_gnb_btn { display:block; position:relative; left:15px; top:16px; width:30px; height:30px; cursor:pointer; }
	.hitejinro_gnb_btn span {display:block; position:absolute;left:0; width:24px; height:3px; margin:0 auto; background-color:#232323; transition:all 0.2s;}
	.hitejinro_gnb_btn span:first-child{ top:0; }
	.hitejinro_gnb_btn span:nth-of-type(2){ top:10px; }
	.hitejinro_gnb_btn span:last-child{ top:20px; }

	.hitejinro_gnb { overflow-y:auto; position:fixed; left:-240px; top:55px; bottom:0; width:240px; height:auto; background-color:#fff; border-top:1px solid #eee;
							transition:all 0.3s;}
	.hitejinro_gnb li{ float:none; width:100%; height:auto; text-align:left; line-height:56px}
	.hitejinro_gnb a {display:block; width:100%; padding:0; font-size:17px; font-weight:700; border-bottom:1px solid #e0e0e0; text-indent:15px; text-transform:uppercase;}

	.hitejinro_gnb_inner {display:none; position:static; background-color:#efefef; text-align:left;}
	.hitejinro_gnb_inner ol {width:100%; height:auto;}
	.hitejinro_gnb_inner a{ display:block; width:100%; font-size:14px; text-indent:20px;}
		.gnb_social_media li:first-child {margin-left:0%}
		.gnb_csr_joy li:first-child {margin-left:0%}
		.gnb_customer_center li:first-child {margin-left:0%}
		
	/* 하이트 진로 로그인 위치 재배치 및 로고아이콘 삭제 */
	.hitejinro_login {position:absolute;right:45px;top:0;width:45px;}
	.hitejinro_login h2{font-size:16px;}
	.hitejinro_login_btn span{display:none;}

	/* 로그인 모달창 크기 수정 */
	.hitejinro_login_modal { width:300px; margin-left:-150px;}
	.hitejinro_login_service_area a {width:65%; }

	/* 하이트진로 검색 */
	.hitejinro_searchbox {position:absolute; right:5px;top:0; width:30px; padding-left:0;}
	.hitejinro_search_area {top:9px; right:-5px; width:290px;}
	.hitejinro_search_area input { height:35px; }
	.hitejinro_search_area button { height:37px; }
	.hitejinro_search_close { padding:0 5px; vertical-align:middle;}
	#hitejinro_search{width:200px;}

	/* 하이트진로 footer - 회사정보 */
	.hitejinro_footer_wrap {max-width:480px;}
	.hitejinro_footer { width:100%; margin:0 auto; }
	.policy, .footer_address_tel, .footer_copyright{ width:94%; margin:0 3%; }
	.policy, .footer_address_tel {text-align:left;}
	}
