.hitejinro_content{ width:100%; min-width:1080px; height:auto; padding-top:55px;}

.hitejinro_media{ width:1080px; height:auto; margin:0 auto;}
.hitejinro_media h2 {width:100%; height:auto; padding-top:50px; font-size:55px; font-weight:200; text-align:center;}
.hitejinro_media h3 {width:100%; height:auto; font-weight:200; text-align:center;}

.media { overflow:hidden; width:100%; height:auto; padding-top:100px; padding-bottom:80px;}
.media_wrap_search{overflow:hidden; width:100%; height:auto; border-top:1px solid #222; border-bottom:2px solid #222;}
.media_wrap_left {float:left; width:10%; height:60px; font-size:17px; text-align:center; line-height:60px;}
.point_1 {padding-left:5px; color:#007acd;}
.media_wrap_right {float:left; width:90%; height:60px; text-align:right; line-height:60px;}
.media_wrap_right form{width:100%; height:100px;}
.media_search_select {display:inline-block; width:80px; height:100%; text-align:left;}
.media_search_select_list {width:60px; height:28px; border-bottom:1px solid #888;}
.media_search_box {display:inline-block; width:250px; height:100%;}
#msb {width:250px; height:27px; border-bottom:1px solid #888;}

.media_search_list {overflow:hidden; width:100%; height:auto;}
.media_list {width:100%; height:1765px;}
.media_list table {width:100%; height:auto; }
.media_list td {height:225px; padding-bottom:20px; border-bottom:1px solid #222;}
.media_search_list_td1 {width:150px; font-size:17px;}
.list_td1_year {display:block; width:100%; height:auto; margin-top:30px; font-size:18px;}
.list_td1_date {display:block; width:100%; height:auto; font-size:44px;}
.media_search_list_td2 {width:360px; text-align:left;}
.media_search_list_td2 img{padding-top:28px;}
.media_search_list_td3 {width:570px; text-align:left; }
.media_search_list_td3 h3 {padding:25px 0 5px; margin-bottom:0; font-size:25px; font-weight:400; text-align:left;}
.media_search_list_td3 strong{display:block; width:100%; height:auto; color:#666; font-weight:300;}

.media_pagination {overflow:hidden; width:100%; height:auto; text-align:center;}
.media_pagination li {display:inline-block; width:auto; height:auto; margin-top:80px;}
.media_pagination li a{display:inline-block; padding:5px 13px; border-top:1px solid #222; border-left:1px solid #222; border-bottom:1px solid #222;}
.media_pagination li .page_select {color:#fff; background-color:#222; }
.media_pagination li .page_last {border-right:1px solid #222; }
.media_pagination li a:hover, .media_pagination li a:focus {color:#fff; background-color:#222;}
