.hitejinro_content{ width:100%; min-width:1080px; height:auto; padding-top:55px;}

.hitejinro_recruit{ width:1080px; height:auto; margin:0 auto;}
.hitejinro_recruit h2 {width:100%; height:auto; padding-top:50px; font-size:55px; font-weight:200; text-align:center;}
.hitejinro_recruit h3 {width:100%; height:auto; font-weight:200; text-align:center;}

.recruit { overflow:hidden; width:100%; height:auto; padding-top:50px; padding-bottom:80px;}

.recruit_tab_menu {width:100%; height:60px}
.recruit_tab_menu li {float:left; width:14%; height:100%; font-size:16px; text-align:center; line-height:62px;
                        border-top:1px solid #232323; border-right:1px solid #232323; border-bottom:1px solid #232323; box-sizing:border-box;}
.recruit_tab_menu a {display:inline-block; width:100%; height:100%;}
.recruit_tab_menu .r_tab_menu0 {padding-left:1%; background-color:#232323; color:#fff; border-left:1px solid #232323; box-sizing:border-box;}
.r_tab_menu6 {margin-right:1%;}

.recruit_tab_info {width:100%; height:auto;}
.recruit_info_detail {width:100%; height:auto;}
.recruit_info_detail h2 {font-size:40px; }
.recruit_info_detail h3 {margin-bottom:50px;}
.recruit_info_detail h4 {width:100%; height:auto; padding-top:50px; font-size:18px; text-align:center; font-weight:300; }

.recruit_info_detail:not(:first-child){display:none;}

/* all about hitejinro */
.recruit_all_about {width:100%; height:550px;}
.recruit_all_about p {float:left; width:50%; height:100%;}
.recruit_all_about_txt {width:100%; height:100%;}
.recruit_all_about_txt strong, .recruit_all_about_txt span {display:inline-block; width:100%; height:auto;}
.recruit_all_about_txt_1 {font-size:23px; font-weight:500;}
.recruit_all_about_txt_2 {margin:20px 0; font-size:35px; font-weight:600; line-height:38px;}
.recruit_all_about_txt_3, .recruit_all_about_txt_5 {color:#676767; font-size:15px;}
.recruit_all_about_txt_4 {margin:18px 0; font-size:19px; font-weight:400;}
.recruit_all_about_txt_6 {margin-top:32px; font-size: 18px; text-align:right;}
.recruit_all_about_img {text-align:center;}

/* MANAGEMENT PHILOSOPHY */
.recruit_info_part1 h2{padding-top:0;}
.recruit_management_1 span, .recruit_management_2 span {display:inline-block; height:auto; color:#555;}
.recruit_management_1 {position:relative; width:100%; height:500px; margin-bottom:90px; background: url("../images/talent_2.gif") no-repeat center center;}
.recruit_management_1 strong {color:#000; font-size:18px; font-weight:400;}
.recruit_human_1 {position:absolute; left:660px; top:45px; width:auto;}
.recruit_human_2 {position:absolute; left:0; top:340px; width:auto;}
.recruit_human_3 {position:absolute; right:5px; top:350px; width:auto;}
.recruit_management_2 {position:relative; width:100%; height:500px; padding-bottom:90px; background: url("../images/talent_1.gif") no-repeat center top; }
.recruit_management_2 span {display:inline-block; position:absolute; width:auto;}
.recruit_ideology_1 {left:165px; top:300px;}
.recruit_ideology_2 {left:305px; top:156px;}
.recruit_ideology_3 {left:450px; top:230px;}
.recruit_ideology_4 {left:655px; top:309px;}
.recruit_ideology_5 {left:833px; top:215px;}
.recruit_ideology_6 {left:450px; top:400px;}
.recruit_ideology_6 strong{font-size:19px; font-weight:400;}
.recruit_ideology_7 {left:450px; top:425px;}

/* 직무소개 */
.recruit_duty_wrap {overflow:hidden; width:100%; height:auto;}
.recruit_duty {overflow:hidden; float:left; height:auto; }
.recruit_duty_1 {width:48%; margin-right:2%;}
.recruit_duty_2 {width:48%; margin-left:2%;}
.recruit_duty_3 {width:32%;}
.recruit_duty_4 {width:32%; margin:0 2%;}
.recruit_duty_5 {width:32%;}
.recruit_duty_title {width:100%; height:85px; border-top:2px solid #232323; border-bottom:1px solid #232323; box-sizing:border-box;}
.recruit_duty_title p{float:left; height:100%;}
.recruit_duty_title_img {width:19%; text-align:center; line-height:122px;}
.recruit_duty_title_txt {width:81%;}
.recruit_duty_title_txt strong, .recruit_duty_title_txt span {display:inline-block; width:100%;}
.recruit_duty_title_txt strong {margin-top:16px; font-size:18px; font-weight:500;}

.recruit_duty_info{width:100%; height:410px; margin-top:40px;}
.recruit_duty_info_half_size span{display:block; float:left; width:33.33%; margin:8px 0;text-indent:18px;}
.recruit_duty_title_margin strong, .recruit_duty_title_margin span{text-indent:12px;}
.recruit_duty_info_half_size_2 span {display:block; float:left; width:50%; margin:8px 0;text-indent:18px; }

/* 채용절차 */
.recruit_job {width:100%; height:auto; text-align:center;}
.recruit_job_info {width:100%; height:auto; margin-top:35px;}
.recruit_job_info strong, .recruit_job_info span {display:inline-block; }
.recruit_job_blue {color:#007acd; font-size:20px;}
.recruit_job_bold {width:80%; margin-left:1%;font-size:19px; font-weight:400;}
.recruit_job_info_txt {width:98%; margin-left:2%; color:#555; }
.recruit_job_more {width: 95%; margin-left:5%; margin-top:15px;}
.recruit_job_notice {width:100%; height:auto; text-align:center;}
.recruit_job_notice a {display:inline-block; padding:15px 22px; margin:50px 0; color:#fff; background-color:#007acd; letter-spacing:2px;}
.recruit_job_notice a:hover, .recruit_job_notice a:focus {background-color:#232323; text-decoration:underline;}

/* 복리후생 */
.recruit_welfare {overflow:hidden; width:100%; height:auto; margin-bottom:80px; }
.recruit_welfare li {float:left; width:25%; height:300px; padding-top:50px; text-align:center; border-bottom:1px solid #232323; }
.recruit_welfare li:nth-of-type(9),.recruit_welfare li:nth-of-type(10),.recruit_welfare li:nth-of-type(11),.recruit_welfare li:nth-of-type(12){border-bottom:none;}
.recruit_welfare_img {width:100%; height:190px;}
.recruit_title, .recruit_welfare_info {display:inline-block; width:100%; height:auto;}
.recruit_title { margin-bottom:5px; font-size:19px; font-weight:500;}

/* 채용공고 */
.recruit_info_part5 {margin-bottom:150px;}
.recruit_wrap_search{overflow:hidden; width:100%; height:auto; border-top:1px solid #222; border-bottom:2px solid #222;}
.recruit_wrap_left {float:left; width:10%; height:60px; font-size:17px; text-align:center; line-height:60px;}
.point_1 {padding-left:5px; color:#007acd;}
.recruit_wrap_right {float:left; width:90%; height:60px; text-align:right; line-height:60px;}
.recruit_wrap_right form{width:100%; height:100px;}
.recruit_search_select {display:inline-block; width:80px; height:100%; text-align:left;}
.recruit_search_select_list {width:60px; height:28px; border-bottom:1px solid #888;}
.recruit_search_box {display:inline-block; width:250px; height:100%;}
#rsb {width:250px; height:27px; border-bottom:1px solid #888;}

.recruit_search_list {overflow:hidden; width:100%; height:auto; }
.recruit_search_list table {width:100%; height:auto; }
.recruit_search_list td {height:120px; padding-bottom:20px; border-bottom:1px solid #222;}
.recruit_search_list_td1 {width:150px; font-size:17px;text-indent:70px;}
.recruit_search_list_td1:after{content:""; display:block; clear:both; width:60px; height:1px; margin-top:-25px; background-color:#222;}
.recruit_search_list_td2 {width:800px; text-align:left;}
.recruit_search_list_td2 a{display:inline-block; width:100%;}
.recruit_search_list_td2 h3 {padding:25px 0 5px; margin-bottom:0; font-size:22px; font-weight:400;}
.recruit_search_list_td2 p{width:100%; height:auto; color:#666; text-align:center; }
.recruit_search_list_td3 {width:80px; font-size:18px; text-decoration:underline;}

/* 지원자도우미 */
.recruit_helper {width:100%; height:auto; border-top:2px solid #222;}
.recruit_helper_question {width:100%; height:65px; line-height:67px; border-bottom:1px solid #888}
.recruit_helper_question:after{content:""; display:block; clear:both; width:60px; height:1px; margin-top:-34px; background-color:#222;}
.recruit_helper_question a{display:inline-block; width:auto; height:100%; margin-left:75px; font-size:18px;}
.recruit_helper_answer {display:none; padding:35px 0 35px 76px;border-bottom:1px solid #007acd;}
.recruit_helper_answer b{display:inline-block; margin-right:8px; color:#007acd; font-size:17px;}
