.hitejinro_content_wrap{overflow:hidden; width:100%; min-width:1600px; height:auto; padding-top:155px;}
.hitejinro_content_Gnb_wrap {position:fixed; top:55px; left:0; right:0; width:100%; height:100px; background-color:#f68a0a;}
.hitejinro_content_Gnb {width:1280px; height:100%; margin:0 auto; text-align:center;}
.hitejinro_content_Gnb li {display:inline-block; width:17%; height:100%; text-align:center;}
.hitejinro_content_Gnb a {display:inline-block; width:100px; height:100%; transform:scale(0.9); transition:transform 0.4s;}

/* 위스키 gnb의 이미지 */
.wh_gnb1 {background: url(../images/theclass_gnb.png) no-repeat center center; }
.wh_gnb1:hover, .wh_gnb1:focus{background-position:center center; transform:scale(1);}
.wh_gnb2 {background: url(../images/kingdom_gnb.png) no-repeat center right;}
.wh_gnb2:hover, .wh_gnb2:focus{background-position:center center; transform:scale(1);}

.hitejinro_view_more{overflow:hidden; min-width:1600px; height:auto; margin:0 auto;}
.whiskey_view_more{width:100%; min-width:1600px; height:580px;}
.whiskey_view_more:nth-of-type(2){padding-bottom:70px; background-color:#565656}
.whiskey_view_more p{width:100%;height:100%;}
.whiskey_view_more a{display:inline-block; width:100%; height:100%;}

/* 위스키 정보에 대한 이미지 */
.view_more_img1 a{background: url(../images/theclass_2300.jpg) no-repeat center center;}
.view_more_img2 a{background: url(../images/kingdom_2300.png) no-repeat center center;}
